@font-face {
  font-family: FixSysCTT;
  src: url(../fonts/ofont.ru_FixSysCTT.ttf) format("opentype");
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
    background: url(../img/2-Morning.jpg) no-repeat ;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 65px;
}

.container{

}

.main-menu{
    float: right;
    margin-right: 50px;
}
.main-menu__item{
    display: inline-block;
    float: left;
    padding: 20px;
}
.main-menu__link{
    font-family: 'FixSysCTT', arial;
    text-decoration: none;
    color: white;
    font-size: 32px;
    -webkit-transition: color 1s ease;
}
.main-menu__link:hover{
    color: #71ff46;
}
.active{
  color:aqua;
}
.pagination{
  position: absolute;
}
.pagination__left{
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  display: block;
  font-size: 300px;
  font-family: 'FixSysCTT';
  position: absolute;
  right: -40px;
  top: 390px;
  opacity: 0.3;
}
.pagination__right{
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  display: block;
  font-size: 300px;
  font-family: 'FixSysCTT';
  position: absolute;
  left: 960px;
  top: 390px;
  opacity: 0.3;
}
.pagination__left:hover,
.pagination__right:hover{
  opacity: 0.6;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 100px;
    min-height: 765px;
}

.projects__box{
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.projects__item{
    border-radius: 10px;
    width: 250px;
    height: 350px;
    border: 1px solid rgba(66, 66, 66, 0.38);
    float: left;
    margin-left: 60px;
    margin-top: 40px;
    background: white;
    position: relative;
}
.projects__title{
    font-size: 22px;
    font-family: 'FixSysCTT';
    position: absolute;
    left: -1px;
    top: -25px;
    width: 232px;
    height: 16px;
    display: block;
    background-color: rgb(151, 121, 233);
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.projects__img{
    opacity: 0.5;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin-left: 12px;
    margin-top: 10px;
    border: 3px solid rgba(106, 106, 106, 0.37);
}
.projects__img:hover{
    opacity: 1;    
    transition-delay: 0s;
}
.projects__btn{
    width: 252px;
    height: 35px;
    border: none;
    cursor: pointer;
    -webkit-transition: background 1s ease;
    font-family: 'FixSysCTT';
    font-size: 20px;
    color: white;
    background: #6B73E0;
    display: block;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    left: -1px;
    top: 318px;
}
.projects__btn:hover{
    background: #BE80EF;
}
.projects__btn:focus {
    outline: none;
}
.projects__text{
    display: block;
    height: 50px;
    margin-top: 5px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
      width: 1000px;
      margin: -80px auto 0;
      height: 25px;
      position: relative;
}

.footer__text{
      padding-left: 220px;
      padding-top: 20px;
      display: block;
}